<h1>Products#new</h1>
<p>Find me in app/views/products/new.html.erb</p>
<form action="/products" method="post">
	<input type="text" name="product[name]" id="" placeholder="Product Name">
	<textarea name="product[description]" placeholder="Product description"></textarea>
	<input type="text" name="product[pricing]" id="" placeholder="Price">
	<input type="submit" value="Submit a product">
</form>
